<div class="card">
  <div class="card-content">
    <h4>Job: <%= @job.name %></h4>

    
    <br />
    <b>Job Active:&nbsp;&nbsp;</b><br>
      <%= @job.active ? "Yes" : "No" %><br /><br />

    <b>Job Description:&nbsp;&nbsp;</b><br>
      <%= @job.description %><br /><br />

  </div>
</div>
