<div class="row">
  <div class="small-7 columns">
    <h2><em>About the A &amp; M Creamery</em></h2>

    <p>
    	Started by H's sons we are a 100% test covered Creamery. We love chess
      players, bible quizzers, and Tom Brady. See the thing about this phase is
      it's hard and tedious and the midterm took only 1 hour haha.
    </p>
    <p>
      We have great ice cream and great interactions. Come over for a good time but not too long a time.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>