<h5>A&M Creamery Home</h5>

<p>Hi</p>
<p>I am not creative enough and I do not have the time :(</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
	
<%# render :partial => 'general_home' %>