<h5>A&M Creamery Home</h5>

<p>"He's not the Messiah - he's a very naughty boy."</p>
<p>"Look, I don't think it ought to be blasphemy, just saying 'Jehovah'."</p>
<p>"You're only making it worse for yourself!"</p>
<p>Monty Python Quote for extra credit?</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
	
<%# render :partial => 'general_home' %>